#root {
  margin: 0;
  height: 100vh;
}

body{
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}

main{
  display: flex;
  height: 100%;
}

.managepage{
  display: none;
}

/** 側邊欄 **/
.sidebar{
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.applogo{
  margin: 20px;
  position: absolute;
  top: 0;
}
/** 側邊欄收合設定 **/
nav.open{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
nav.close{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0px;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
nav.hidden{
  display: none;
}


/** 側邊欄按鈕 **/
.sidechangebtn{
  background-color: rgb(251, 251, 251);
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: fixed;
  bottom: 20px;
  left: 18px;
  transition: background-color 0.2s ease-in-out, transfrom 0.2s ease-in-out;
}
.sidechangebtn.normal svg{
  transform: rotate(0deg);

}
.sidechangebtn.open svg{
  transform: rotate(180deg);
  transition: transfrom 0.2s ease-in-out;
}

.sidechangebtn:hover{
  background-color: #ecebeb;
}
.sidebar a{
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;

  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sidebar a p{
  font-size: 12px;
  box-sizing: border-box;
  margin: 0px;
}
.isin, .sbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
  border-radius: 15px;
  transition: background-color 0.2s ease-in-out;
}
.sidebar a:hover .isin, .sidebar a:hover .sbtn{
  background-color: #c4cad329;
}
.sidebar a p{
  color: #58769D;
  font-family: NotoSansTC;
  font-weight: 500;
  width: 50px;
}
.isin{
  background-color: #ffffff;
  border: 1px solid #efefef;
}
/** 線條設定 **/
.edgelinebox{
  display: flex;
  align-items: center;
}
.edgelinebox span{
  position: absolute;
  left: 3px;
}
span.hidden{
  height: 0px;
  width: 0px;
  border-radius: 100px;
  background-color: #58769D;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
span.active{
  width: 3px;
  height: 20px;
  background-color: #58769D;
  border-radius: 100px;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
.sidebar a:hover span{
  width: 3px;
  height: 3px;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

/** section **/
.section{
  width: 100%;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 3px #51515117;
  padding: 15px;
}

/** TopBar設定 **/
.navbar{
  display: flex;
  width: auto;
  border: 1px solid #eae8e8;
  border-radius: 15px;
  margin: 5px;
  flex-direction: row-reverse;
  position: sticky;
  top: 5px;
  background-color: #ffffffb3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.navbtn{
  margin: 5px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.navbtn:hover{
  background-color: #efefef;
}
.vertext{
  margin-right: auto;
  margin-left: 15px;
}